<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container"
     style="text-align: center;  width: 60%; height: 20%; margin: 20% auto; display: block; ">
    <a th:href="@{/api/account/list}"
       style="margin: 10px; font-size: 250%; width: 40%; height: 120px; background-color: black; color: white">Create an
        event</a>
    <br><br>
    <a th:href="@{/api/account/list}"
       style="margin: 10px; font-size: 250%; width: 40%; height: 120px; background-color: black; color: white">View your
        events</a>
    <br><br>
    <a style="margin: 10px; font-size: 250%; width: 40%; height: 120px; background-color: black; color: white" th:href="@{'http://localhost:8081/?userId=' + ${userId}}">Events</a>

</div>
</body>
</html>