<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
</head>
<body>


<table>
    <thead>

    </thead>
    <tbody>
    <nav>
        <a href="/yourTickets">Available tickets</a>
    </nav>
    <h2>Buy tickets</h2>
    <tr th:each="event : ${events}">
        <td>
            <form th:action="@{/allTickets}" method="post">
                <input type="text" name="eventId" th:value="*{event.id}" hidden>
                Ticket id: <span th:text="*{event.id}"></span>;
                seat:<span th:text="*{event.name}"></span>;
                number :<span th:text="*{event.description}"></span>
                <button type="submit" class="btn btn-info col-2">Tickets</button>
            </form>

        </td>
        <br>
    </tr>
    </tbody>
</table>
</body>
</html>