<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
<h1>Create Event</h1>
<form action="#" th:action="@{/createEvent}" th:object="${event}" method="POST">
    <input type="hidden" th:field="*{id}">

    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" th:field="*{name}"><br>

    <label for="eventDescription">Event Description:</label>
    <input type="text" id="eventDescription" th:field="*{description}"><br>

    <label for="dateField">Event Date:</label>
    <input type="date" id="dateField" th:field="*{date}"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
